@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Travel Keeper</h1>
    <p>
        A travel app to store all things related to a specific trip
        (e.g.,transportation, accommodations, restaurants, places visited). When your friends
        ask for specific recommendations about a trip you can tell them the best places to stay, eat,
        visit and avoid. They can also follow you on the app to see your recommendations.
    </p>
</div>
<div style="text-align: center">
    <img align="center" src="~/images/anders-wideskott-_QnPkc4C6E4-unsplash.jpg" alt="books" style="max-height: 500px; min-height: 400px; max-width:1200px; min-width:1000px;">
</div>
