@model CSharpTravelKeeper.Models.Traveler

@{
    ViewData["Title"] = "Delete";
}

<div>
    <img class="editImage" src="~/images/deletefriends.jpg" alt="beach">
</div>
<br />
<br />
<div class="container">
    <div class="col-5">
        <div class="card deleteLodgingForm">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <h3>D e l e t e &nbsp; T r a v e l e r</h3>
                        <br />
                        <dl class="row">
                            <dt class="col-sm-8">
                                @Html.DisplayNameFor(model => model.FellowTraveler)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.FellowTraveler)
                            </dd>
                        </dl>

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Delete" class="btn btn-outline-dark" /> 
                            <a class="btn btn-outline-dark"  asp-action="Details" asp-controller="Trips" asp-route-id="@Model.TripId">Back to City Details</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>