@model CSharpTravelKeeper.Models.City

@{
    ViewData["Title"] = "MakeInActive";
}

<div>
    <img class="editImage" src="~/images/deletecity.jpg" alt="beach">
</div>
<br />
<br />
<div class="container">
    <div class="col-5">
        <div class="card deleteCityForm">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">
                        <h3>D e l e t e &nbsp; C i t y</h3>
                        <br />
                        <br />
                        <form asp-action="MakeInActive">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="CityName" class="control-label"></label>
                                <input asp-for="CityName" class="form-control" />
                                <span asp-validation-for="CityName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TripId" class="control-label"></label>
                                <select asp-for="TripId" class="form-control" asp-items="ViewBag.TripId"></select>
                                <span asp-validation-for="TripId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-outline-dark" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-outline-dark" asp-action="Index" asp-controller="Trips">Back to Trips</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
